.botao-modal{
    background-color: #A92364;
    color: #fff;
    border: none;
    padding: 0.5%;
    border-radius: 10px;
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    cursor: pointer;
}

.modal{
    background: #fff;
    border: 2px solid #A92364;
    position: absolute;
    width: 30%;
    height: 70%;
    opacity: 0;
    border-radius: 10px;
    overflow-y: scroll;
    animation-duration: 2.5s;
    animation: animacao-modal 2s;
}

.modal.show {
    opacity: 1;
}

.botao-fechar{
    background-color: transparent;
    color: #A92364;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    text-align: right;
    margin: 1%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 10%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 10%;
}

.modal-historico {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #A92364;
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans';
    padding-bottom: 2%;
    padding-left: 5%;
    padding-top: 2%;
}

.escolas-associadas {
    font-family:  'IBM Plex Sans';
    font-size: 1.3rem;
    color: rgba(169, 35, 100, 0.7);
    padding-left: 5%;
}