@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    width: 100%;
    height: 100%;
    background: url(../img/fundo.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 5%;
}

h1 {
    font-size: 3rem;
    color: #fff;
    font-family: 'IBM Plex Sans';
}

hr {
    background-color: #A92364;
    height: 0.2%;
    border: none;
}

.principal {
    position: absolute;
    width: 90%;
    height: 70%;
    background-color: #fff;
    border-radius: 0px 66px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.cabecalho-historico {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    color: #A92364;
    font-size: 2rem;
    font-family: 'IBM Plex Sans';
}

.subtitulo {
    color: rgba(169, 35, 100, 0.7);
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.informacoes {
    font-size: 2rem;
    color: rgba(169, 35, 100, 0.7);
    font-family: 'IBM Plex Sans';
    padding-top: 1%;
    padding-bottom: 1%;
}

.html-icon {
    color: #A92364;
}