<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/historico.css">
    <script src="../static/js/modal.js"></script>
    <title>Histórico</title>
</head>
<body>
    <section>
        <h1>Histórico:</h1> 
        <div class="principal">

            <!-- Cabeçalho -->
            <div class="cabecalho-historico">
                <p id="nome">Nome: <span class="subtitulo">Teste Teste Teste</span></p>
                <p id="tel">Tel: <span class="subtitulo">(xx) xxxxx-xxxx</span></p>
                <p id="email">E-mail: <span class="subtitulo">xxxx@gmail.com</span></p>
                <input type="button" value="Ver mais" class="botao-modal" onclick="abrir()">
            </div>

            
            <hr>

            <!-- Modal -->
            <div class="container">
                <div class="modal">
                    <div class="botao-fechar">
                        <button class="fechar" onclick="fechar()">&times;</button>
                    </div>
                    <p class="modal-historico">Nome:ㅤ<span class="subtitulo-modal"> Teste Teste Teste</span></p>
                    <p class="modal-historico">Tel:ㅤ<span class="subtitulo"> (xx) xxxxx-xxxx</span></p>
                    <p class="modal-historico">E-mail:ㅤ<span class="subtitulo"> xxxx@gmail.com</span></p>
                    <p class="modal-historico">CPF:ㅤ<span class="subtitulo"> xxx-xxx-xxx-xx</span></p>
                    <p class="modal-historico">Data de Nascimento:ㅤ<span class="subtitulo"> xx/xx/xxxx</span></p>
                    <p class="modal-historico">Escolas vinculadas:ㅤ<span class="subtitulo">
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 1</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 2</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 3</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                        <p class="escolas-associadas" id="subtitulo"> &#9900; Escola 4</p>
                    </span></p>
                </div>
            </div>
            
            <!-- Data e link -->
            <div class="conteudo">
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes" id="subtitulo"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
            </div>
        </div>
    </section>
</body>
</html>