<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/historico.css">
    <title>Histórico</title>
</head>
<body>
    <section>
        <h1>Histórico:</h1> 
        <div class="principal">

            <!-- Informações do banco -->
            <div class="cabecalho-historico">
                <p>Nome: <span class="subtitulo">Teste Teste Teste</span></p>
                <p>Tel: <span class="subtitulo">(xx) xxxxx-xxxx</span></p>
                <p>E-mail: <span class="subtitulo">xxxx@gmail.com</span></p>
            </div>

            <hr>

            <!-- Informações do banco -->
            <div class="conteudo">
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
                <p class="informacoes"> &#9900; Dia xx/xx/xxx | <a href="#">Clique aqui!</a></p>
            </div>
        </div>
    </section>
</body>
</html>