<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- <script src="../static/js/script.js"></script> -->
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>

<body>
    
    <!-- Inicio da página -->
    
    <div class="tudo">
        <div class="fundo">
            <img src="../static/img/logo.png" class="img" alt="logo">
            <h1 class="titulo">Dailybot é um robô<br> programado para estar<br> constantemente de<br> olho no <a
                href="http://www.imprensaoficial.com.br/" class="diario"><u>Diário Oficial</u></a>
                <h1>
                </div>
            </div>
            
        <!-- Rolagem automatica -->
            
        <div class="principal">
            <div class="menu">
                <ul class="scroll">
                    <li><ion-icon name="power" class="icon"></ion-icon>
                    <a href="#ativar" class="subtitulo">Ativar Robô</a></li>

                    <li><ion-icon name="person-add" class="icon"></ion-icon>
                    <a href="#cad-rem" class="subtitulo">Cadastrar ou remover associado</a></li>

                    <li><ion-icon name="search" class="icon"></ion-icon>
                    <a href="#pesquisa" class="subtitulo">Pesquisar associado</a></li>
                </ul>
            </div>
        
        <!-- instruções e ativar/desativar robô -->

        <section class="conteudo-principal" id="ativar">
            <div class="conteudo-secundario" id='keyframe4'>
                <p class="conteudo-secundario-titulo">Algumas <span class="conteudo-secundario-subtitulo">instruções</span> <br> de uso:</p>
                <p class="titulo-instrucoes">Ao ativa-lo, terá a opção de busca <br> disponível para acessar 
                    informações <br> de associado. O robô foi programado <br> para buscar 
                    informações novas duas <br> vezes ao dia!  </p>
            </div>
                
            <hr class="linha1">
               
            <img src="../static/img/robo.svg" class="img-robo" alt="robo">
            <div class="conteudo-secundario-2" id='keyframe3'>
                <p class="conteudo-secundario-titulo2">Ative o <span class="conteudo-secundario-subtitulo">robô</span> <br> aqui!</p>




                <div class="botoes">
                    <label class="switch">
                        <input type="checkbox" name="checkBox4" id="checkBox4" onclick="this.form.submit()"  >
                        <span class="slider round" ></span>   
                    </label>                   
                </div>
            </div>
            </section>
            
            <!-- Cadastro e Remoção de associados -->
            
            <section class="cadastro-remocao" id="cad-rem">
            <div class="botao1" id='keyframe2'>
                <p class="titulo-cadastro">Deseja <span class="conteudo-secundario-subtitulo">cadastar</span> um <br> novo associado?</p>
                <button id="primeiro">Clique Aqui</button>
            </div>
            
            <hr class="linha2">
            
            <div class="botao2" id="keyframe1">
                <p class="titulo-remover">Deseja <span class="conteudo-secundario-subtitulo">remover</span> um <br> associado?</p>
                <button id="botao-remover">Clique Aqui</button>
            </div>
        </section>
        
        <!-- Barra de pesquisa dos associados -->
        
        <section class="search" id="pesquisa">
            <div class="search-option" id="keyframe5">
                <img src="../static/img/search-icon.svg" class="search-icon" alt="search-icon">
                <input type="text" class="txt" placeholder="Digite aqui..." id="barra_pesquisa" onkeyup="search()">
            </div>

            <div class="nomes">


                <ul id="lista_para_busca">
                    <li><p class="titulo-pesquisa">Lucas</p></li>
                    <li><p class="titulo-pesquisa">Kevin</p></li>
                    <li><p class="titulo-pesquisa">Matheus</p></li>
                    <li><p class="titulo-pesquisa">Thiago</p></li>
                    <li><p class="titulo-pesquisa">Pedro</p></li>
                    <li><p class="titulo-pesquisa">Jonathas</p></li>
                    <li><p class="titulo-pesquisa">André</p></li>
                    <li><p class="titulo-pesquisa">Naiara</p></li>
                    <li><p class="titulo-pesquisa">Alex</p></li>
                    <li><p class="titulo-pesquisa">Reinaldo</p></li>
                    <li><p class="titulo-pesquisa">Rodrigo</p></li>
                    <li><p class="titulo-pesquisa">Léo</p></li>
                    <li><p class="titulo-pesquisa">Gabriel</p></li>
                    <li><p class="titulo-pesquisa">Rodrigo</p></li>
                    <li><p class="titulo-pesquisa">Léo Dantas</p></li>
                    <li><p class="titulo-pesquisa">Gabriel Vieira</p></li>
                    <li><p class="titulo-pesquisa">Rodrigo Massa</p></li>
                    <li><p class="titulo-pesquisa">Léo</p></li>
                    <li><p class="titulo-pesquisa">Gabriel</p></li>
                </ul>



            </div>
        </section>
    </div>

    
    <script src="../static/js/pesquisar.js"></script>


</body>

</html>